<button class="header-title" (click)="onLogoClick()">LinkedOut</button>
<div class="header__actions">
  <app-theme-toggle></app-theme-toggle>

  <button
    class="hamburger-menu"
    mat-icon-button
    [matMenuTriggerFor]="actionMenu"
    aria-label="User actions"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #actionMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="onSettingsClick()">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-menu>
</div>
