.search-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.search-bar {
  width: 100%;
  max-width: 280px;

  ::ng-deep .mat-mdc-form-field-flex {
    height: 36px;
    align-items: center;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  max-height: calc(100vh - 340px);
  overflow-y: auto;
  background: rgb(255, 255, 255);
  border: 1px solid #e4e4e4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: none;
}

.paginator-wrapper {
  flex-shrink: 0;
  background: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #e4e4e4;

  ::ng-deep .mat-mdc-paginator-container {
    justify-content: center;
  }
}

::ng-deep .mat-mdc-paginator {
  border-top: 1px solid #e4e4e4;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

::ng-deep {
  table {
    display: relative;
    width: 100%;
  }

  th.mat-header-cell {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    font-weight: 500;
    border-bottom: 1px solid #e4e4e4;
  }

  .mat-mdc-row {
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #d3d1d1;
      cursor: pointer;
    }
  }

  th.mat-header-cell,
  td.mat-cell {
    text-align: left;
    padding: 0 16px;
    font-size: 14px;
  }
}

:host-context(.dark-theme) {
  .table-container {
    background: black;
  }

  search-bar {
    ::ng-deep .mat-icon {
      color: #ffffff;
    }
    ::ng-deep input.mat-mdc-input-element {
      color: #ffffff;
    }
    ::ng-deep input::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
    ::ng-deep .mdc-notched-outline__leading,
    ::ng-deep .mdc-notched-outline__notch,
    ::ng-deep .mdc-notched-outline__trailing {
      border-color: rgba(255, 255, 255, 0.5) !important;
    }
  }
}
