.settings-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-row {
  display: flex;
  gap: 16px;

  mat-form-field {
    flex: 1;
  }
}

.full-width {
  width: 100%;
}

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  .cancel {
    background-color: #c0bfbf;
    color: #242424;

    &:hover {
      background-color: #d5d5d5;
    }
  }
}

.info-btn {
  background-color: #e8eaed;
  color: #3c4043;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}
