.profile-page {
  padding: 32px;
  max-width: 850px;
  margin: 0 auto;

  max-height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

.birthday-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-icon {
  margin-top: -4px;
}
