.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a66c2;
  color: white;
  padding: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  font-weight: 500;
}
